using System.ComponentModel.DataAnnotations;
using System.Collections.Generic;

namespace {{packageName}}
{
    public class {{serviceName}}ClientOptions
    {
        [Required]
        public string ApiBaseUrl { get; set; }

        [Required]
        public IEnumerable<string> ClientScopes { get; set; }
    }
}